{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart cart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>

<div class="map" id="map">
    <div class="closemaps">
        <i class="fa fa-times" aria-hidden="true" style="font-weight: 100;font-size: 30px" ></i>
    </div>
    <div class="store">
    </div>
</div>

<div id="cart" class="wrap cf">

    <h1 class="projTitle">Smart Cart</h1>

    <div class="heading cf">
        <h1 style="font-family: 'Montserrat', sans-serif">MY CART</h1>
        <a id="closecart" href="#" class="continue">Continue Shopping</a>
    </div>

    <div class="cart">
        <ul class="cartWrap">
        </ul>
    </div>

    <div class="subtotal cf">
        <ul>
{#            <li class="totalRow"><span class="label">Subtotal</span><span class="value">Rs 35.00</span></li>#}
{#            <li class="totalRow"><span class="label">Shipping</span><span class="value">Rs 5.00</span></li>#}
{#            <li class="totalRow"><span class="label">Tax</span><span class="value">Rs 4.00</span></li>#}
{#            <li class="totalRow final"><span class="label">Total</span><span class="value">Rs 44.00</span></li>#}
{#            <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>#}
        </ul>
    </div>
</div>

<div>
    <div class="navbar">
        <div class="container">
            <div class="row" style="width: 100%">
                <div class="col-lg-6" style="margin: auto">
                    <h1 style="font-family: 'Montserrat', sans-serif;font-weight: bold;text-align: center;font-size: 2em;text-transform: uppercase;padding-top: 7px">
                        Smart Cart</h1>
                </div>
                <div class="col-lg-4"></div>
                <div id="cartopen" class="col-lg-2" style="margin: auto">
                    <img src="{% static 'img/online-shop.png' %}" height="50px"/>
                </div>
            </div>
        </div>
    </div>

    <div class="search-container" style="width: 70%;margin: auto">
        {#            <a class="g-icon" href="https://google.com" target="_blank"><img src="https://user-images.githubusercontent.com/48612525/86507657-d54fbd80-bd8e-11ea-866b-ac26496481ae.png" alt="google icon" /></a>#}
        <input id="searchbar" class="search-bar" type="text" placeholder="Enter Search.."/>
        <button id="searchcross"><i class="fa fa-times" aria-hidden="true" style="font-weight: 100" ></i></button>
        <button class="mic" id="voicesearch"><i class="fa fa-microphone" aria-hidden="true"></i></button>
    </div>
</div>

<div class="container  p-5">
    <div class="row" id="items">
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/potato.png' %}" alt="" height="250px">
                <div class="card-body">
                    <h5 class="card-title">Potato</h5>
                    <p class="card-text">Rs 20.00</p>
                    <i hidden>1,6</i>
                    <a href="#" class="btn btn-primary add-cart">Add to Cart <i class="fa fa-cart-arrow-down"></i></a>
                    <a href="#" class="btn btn-primary directions">Directions <i class="fa fa-map-signs"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/coke.png' %}" alt="" height="250px">
                <div class="card-body">
                    <h5 class="card-title">Coca-Cola</h5>
                    <p class="card-text">Rs 15.00</p>
                    <i hidden>6,1</i>
                    <a href="#" class="btn btn-primary add-cart" >Add to Cart <i class="fa fa-cart-arrow-down"></i></a>
                    <a href="#" class="btn btn-primary directions">Directions <i class="fa fa-map-signs"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/burger.png' %}" alt="" height="250px">
                <div class="card-body">
                    <h5 class="card-title">burger</h5>
                    <p class="card-text">Rs 170.00</p>
                    <i hidden>4,10</i>
                    <a href="#" class="btn btn-primary add-cart" >Add to Cart <i class="fa fa-cart-arrow-down"></i></a>
                    <a href="#" class="btn btn-primary directions">Directions <i class="fa fa-map-signs"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/tomato.png' %}" alt="" height="250px">
                <div class="card-body">
                    <h5 class="card-title">Tomato</h5>
                    <p class="card-text">Rs 15.00</p>
                    <i hidden>3,6</i>
                    <a href="#" class="btn btn-primary add-cart" >Add to Cart <i class="fa fa-cart-arrow-down"></i></a>
                    <a href="#" class="btn btn-primary directions">Directions <i class="fa fa-map-signs"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/bread.png' %}" alt="" height="250px">
                <div class="card-body">
                    <h5 class="card-title">Bread</h5>
                    <p class="card-text">Rs 25.00</p>
                    <i hidden>4,2</i>
                    <a href="#" class="btn btn-primary add-cart" >Add to Cart <i class="fa fa-cart-arrow-down"></i></a>
                    <a href="#" class="btn btn-primary directions">Directions <i class="fa fa-map-signs"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/coke.png' %}" alt="" height="250px">
                <div class="card-body">
                    <h5 class="card-title">Coca-Cola 150ml</h5>
                    <p class="card-text">Rs 150.00</p>
                    <i hidden>4,5</i>
                    <a href="#" class="btn btn-primary add-cart" >Add to Cart <i class="fa fa-cart-arrow-down"></i></a>
                    <a href="#" class="btn btn-primary directions">Directions <i class="fa fa-map-signs"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/coke.png' %}" alt="" height="250px">
                <div class="card-body">
                    <h5 class="card-title">Coca-Cola 50ml</h5>
                    <p class="card-text">Rs 55.00</p>
                    <i hidden>7,9</i>
                    <a href="#" class="btn btn-primary add-cart" >Add to Cart <i class="fa fa-cart-arrow-down"></i></a>
                    <a href="#" class="btn btn-primary directions">Directions <i class="fa fa-map-signs"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>